/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 09-01-2018, 12:20:26
    Author     : Asbamz
*/

.text-area *.text {
    -fx-text-alignment: center;
}