/*
    Created on : 10-01-2018, 10:17:06
    Author     : Alex
*/
.progress-bar .bar {
    -fx-padding: 2px;
    -fx-background-insets: 0;
    -fx-background-color: #e74c3c;
}

.progress-bar > .track {
    -fx-text-box-border: #2c3e50;
    -fx-background-insets: 0;
    -fx-control-inner-background: #2c3e50;
}

.button {
    -fx-background-color: #2980B9;
    -fx-text-fill: #ECF0F1;
}

.button:hover {
    -fx-background-color: #3498DB;
}

.button:pressed{
    -fx-background-color: #e74c3c;
}
