/* 
    Created on : 09-01-2018, 10:20:26
    Author     : Alex
*/

.button {
    -fx-background-color: #2980B9;
    -fx-text-fill: #ECF0F1;
}

.button:hover {
    -fx-background-color: #3498DB;
}

.button:pressed{
    -fx-background-color: #e74c3c;
}

.text-area .content{
      -fx-background-color:  #2c3e50;
      -fx-border-color: #2c3e50;
  }
  .text-area{
      -fx-border-color: transparent;
      -fx-background-color:  #ecf0f1;
      -fx-text-fill: #ecf0f1;
  }
